@import '_bootstrap';

.main-panel {
  margin-top: 10%;
}

.panel-heading {
  background-color: #5f5050 !important;
  border-color: #5f5050 !important;
  color: #fff !important;
}

.btn {

}

.error {
  background-color: #EBD0D0;
  border: solid 1px #9C4A51;
  border-radius: 5px;
  color: #732A30;
  padding: 10px;
}

.hidden-pane {
  display: none;
}

input,
textarea {
  @extend .form-control;
}

.panel.secret-message {
  background-color: #f9f9f9;
  color: #666;
  font-style: italic;
}

footer {
  background-color: #5f5050;
  bottom: 0px;
  color: #fff;
  height: 40px;
  left: 0px;
  position: fixed;
  text-align: right;
  width: 100%;

  a {
    color: #fff;
  }

  a:hover {
    color: #85D468;
  }

  div {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
  }
  .credit {
    margin-top: 10px;
  }
  .github-icon {
    margin-top: 6px;
  }
}
