%head
  %title Encryptor!

  %script{src: 'https://code.jquery.com/jquery.js'}

  %script{src: 'js/min/encryptor.min.js'}
  %script{src: 'js/min/index.min.js'}
  %link{rel: 'stylesheet', href: 'css/style.css'}
